.wateronthehill {
  background-color: #2b52ed;
}

.fireinthehole {
  background-color: #089E4E;
}

.areaconfirmed {
  background-color: #eda62b;
}

.rockontheground {
  background-color: #fc0303;
}

.windfromthelandscape {
  background-color: #e303fc
}

.kidsinthebasement {
  background-color: #fc2145;
}

.bloodinthebath {
  background-color: #fa0c00;
}

.theshadowsfromthegrave {
  background-color: #a39b9b;
}

.areadetected {
  background-color: #f77c00;
}


.Lightningontheroad {
  background-color: #ba00f7;
}
